<div class="header">
  <button class="button"
    (click)="populateCards()">
    <span>Populate cards</span>
  </button>
  <h1 class="title">{{title}}</h1>
  <button class="button"
    (click)="addCard()">
    <span>Add card</span>
  </button>
</div>
<div class="flex-grid">
  <div *ngFor="let card of cardData"
    class="col">
    <shibe-card 
      [cardNumber]="card.cardNumber" 
      [imageUrl]="card.imageUrl"
      [active]="card.active"
      (toggleState)="onToggleState($event)"></shibe-card>
  </div>
</div>